body {
  margin: 0;
  padding: 0;
  font-family:
    'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
}

.cl-navbarMobileMenuRow {
  background: #e6f5ee;
}

.cl-footerAction .cl-footerAction__signIn {
  background: #e6f5ee;
}

.cl-footer {
  background: #e6f5ee;
}

.cl-internal-1dauvpw {
  display: none;
}

.cl-internal-l2l775 {
  display: none;
}
